body{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.pink-color{
    color:palevioletred

}
section{
    display: flex
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ffc0cb, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: hwb(0 100% 0%);
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
